<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SampleApiDocumentor</title>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

{#<!-- Optional theme -->#}
{#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">#}

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ asset(path('index')) }}">SampleApiDocumentor</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if activeNav == 'create' %}
                <li><a href="{{ asset(path('index')) }}">Home</a></li>
                <li class="active"><a href="{{ asset(path('create')) }}">Create</a></li>
                {% else %}
                <li class="active"><a href="{{ asset(path('index')) }}">Home</a></li>
                <li><a href="{{ asset(path('create')) }}">Create</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    {% for message in app.session.flashbag.get('alert-success') %}
    <div class="row">
        <div class="col-md-12 bg-success">
            <h4><span class="glyphicon glyphicon-ok"></span> {{ message | raw }}</h4>
        </div>
    </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('alert-danger') %}
    <div class="row">
        <div class="col-md-12 bg-danger">
            <h4><span class="glyphicon glyphicon-flash"></span> {{ message | raw }}</h4>
        </div>
    </div>
    {% endfor %}

    {% for message in app.session.flashbag.get('alert-warning') %}
    <div class="row">
        <div class="col-md-12 bg-warning">
            <h4><span class="glyphicon glyphicon-bullhorn"></span> {{ message | raw }}</h4>
        </div>
    </div>
    {% endfor %}

    {% block Content %}{% endblock Content %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
